* {
    font-family: "Playwrite AU VIC", cursive;
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #303030;
}

button {
    cursor: pointer;
}

body {
    background-color: #fcf5cb;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    margin: 12px 2px 0px 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;
    box-shadow: 2px 4px #fcf5cb;
    background: #fcf5cb;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar.sticky {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
}

.navbar .logo a {
    font-size: 32px;
    font-weight: 700;
}

.navbar .logo a b {
    color: #f4bf41;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links ul li {
    text-decoration: none;
    padding: 10px;
    list-style: none;
    padding-right: 45px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .3s ease;

}

.nav-links ul li a:hover {
    color: brown;
}

.navbar .order a {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #f4bf41;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 16px;
    transition: all .3s ease;
}


.navbar .order a:hover {
    background: #f4bf41;
    color: #303030;
}

.preview-container .preview {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 64px;
}

.preview .price .img img {
    border-radius: 15px;
}

.preview .text h2 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.preview .text hr {
    width: 210px;
    margin-top: 3px;
    color: #fdf6f6;
}

.preview .text p {
    font-size: 14px;
    width: 420px;
    line-height: 25px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    padding-top: 16px;
    color: #878282;
}

.btn button {
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 6px auto;
    justify-content: space-between;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    border: transparent;
    margin-top: 16px;
}



.btn button span {
    font-size: 16px;
    background: #f4bf41;
    width: 24px;
}

.preview .text h6 {
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
}

.preview .text .p {
    color: rgb(255, 217, 1);
    font-size: 32px;
    font-weight: 600;
    padding-top: 32px;
}

.text .btns {
    margin-top: 30px;
}

.text .btns .add {
    border-radius: 5px;
    border: 1px solid orange;
    font-size: 14px;
    font-family: "poppins", sans-serif;
    color: orange;
    width: 100px;
    height: 35px;
    padding-top: 3px;
    background-color: white;
}

.text .btns .buy {
    border-radius: 5px;
    border: 1px solid orange;
    font-size: 14px;
    font-family: "poppins", sans-serif;
    color: white;
    width: 100px;
    height: 35px;
    padding-top: 3px;
    background-color: orange;
    margin-left: 20px;
}

.title {
    margin-top: 60px;
}

.title h3 {
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20%;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.desc {
    width: 200px;
    border: 1px solid rgb(215, 209, 209);
    border-radius: 10px;
    margin-top: 20px;
}

.desc .imgs img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.desc h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-left: 16px;
}

.desc .btn {
    margin-left: 16px;
    margin-bottom: 16px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    height: 300px;
    background-color: #000;
}

footer .foo {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.foo h2 {
    color: orange;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    font-size: 35px;
}

.foo b {
    color: white;
}

.foo p {
    color: white;
    font-size: 12px;
    font-weight: 300;
    font-family: "poppins" sans-serif;
    padding-top: 8px;
}

.foo h6 {
    color: rgb(244, 230, 230);
    font-weight: 200;
    font-size: 12px;
    padding-top: 6px;
}

.foo h5 {
    color: orange;
    font-weight: 300;
    font-size: 14px;
    font-family: "poppins", sans-serif;
    padding-top: 8px;
}

.foo h4 {
    color: orange;
    font-weight: 300;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    padding: 8px;
}

.foo ul li {
    list-style: none;
    color: rgb(242, 233, 233);
    padding: 8px;
    font-size: 13px;
    font-weight: 400;
}

.foo input {
    background-color: rgb(53, 52, 52);
    width: 140px;
    height: 20px;
    padding: 3px 8px;
    color: white;
    font-size: 12px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    border: none;
}

.foo .sign {
    display: flex;
    padding-top: 8px;
}

.foo button {
    background-color: orange;
    font-size: 10px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    border: none;
    height: 20px;
    width: 60px;
}

.contact {
    margin-top: 20px;
    margin-left: 30%;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.contact button {
    border-radius: 10px;
    border: 1px solid burlywood;
    text-align: center;
    font-size: 12px;
    width: 120px;
    height: 25px;
    font-weight: 500;
    margin-left: 10px;

}

.contact h1 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 16px;
    font-weight: 500;

}

.container .con p {
    font-size: 14px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    color: rgb(72, 72, 72);
    padding-top: 16px;
}

.container .con bold {
    color: burlywood;
    font-weight: 500;
}

.container .con input {
    width: 300px;
    height: 30px;
    padding: 6px 12px;
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid burlywood;
}

.container .con #text {
    width: 300px;
    height: 80px;
    padding: 6px 12px;
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid burlywood;
    color: rgb(93, 91, 91);
    font-weight: 300;
}

.container .con #btn {
    width: 310px;
    height: 35px;
    text-align: center;
    margin-top: 16px;
    border-radius: 50px;
    border: 1px solid burlywood;
    color: rgb(53, 52, 52);
    font-weight: 300;
    background-color: burlywood;
}

.container .con fieldset {
    width: 300px;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid burlywood;
}